on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: say hello
        run: echo " hello from my self-host runner"
      - name: show sys info
        run: |
          echo "runnig on: $(hostname)"
          echo "current user: $(whoami)"
          echo "date: $(date)"

