on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name:
        uses: actions/checkout@v4

      - name: run python test
        run: |
          echo "running python tests ...."
          python3 test_calculator.py -v
          echo "all tests done!"
      
      - name: run the python application
        run: |
          echo "running the application ...."
          python3 calculator.py
          echo " application is running!"
  build:
    runs-on: self-hosted
    steps:
      - name: build image from python.py
        run: |
          echo " building the image ..."
          docker build -t calculator:${date} .
          docker image ls
          echo "image is built!"

